<div>
    <h1>Perfil</h1>
<div "container">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <p class="card-text">email:{{user.email}}</p>
    <p class="card-text">isAdmin:{{user.isAdmin}}</p>
    <a href="/auth/administracion" class="btn btn-info">Ver datos</a>
    <a href="/auth/logout" class="btn btn-info">Salir</a>
  </div>
</div>
</div>
</div>









 